@import url("https://fonts.googleapis.com/css?family=Pangolin&display=swap");

* {
  box-sizing: border-box;
  font-family: 'Pangolin', monospace;
  text-align: center;
}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}