@import url("https://fonts.googleapis.com/css?family=Fauna+One&display=swap");

* {
  font-family: 'Fauna One', monospace;
  text-align: center;
  color: rgb(37, 37, 37);
}

body {
  padding: 2em;
}

h5 {
  margin-top: 0.1em;

}

a {
  color: salmon;
}
a:hover {
  text-decoration: none;
}

svg {
  top: 0;
  left: 10;
  // position: absolute;
}

button {
  width: 18%;
  height: 30%;
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius: 30px;
  font-size: 1em;
  outline: none;
}
button:hover{
  background: salmon;
  color: white;
  cursor: pointer;
}

.row {
  width: 900px;
  margin: auto;
  // display: flex;
  // justify-content: space-between;
}

.viz {
  position: relative;
}

@media screen and (max-width: 400px) {
  .row {
    .viz {
      width: 100%;
      // padding-right: -10px;
    }
  }

  button {
    border-radius: 10px;
    width: 20%;
  }
}